<!DOCTYPE HTML>
<html>
	<head>
		<!--  ————————————————————————————————————————————————————————————————
		
		Layout: application.html.erb
	
		Doc: layout template applied to all files in the site
	
		——————————————————————————————————————————————————————————————————————
		Versus tm3rorFF ( 'fixed footer') 
			Removed 
				1. footer pinnned to bottom of browser window ('fixed') and 
				2. repositioning left-right when window resizes, 
				3. resizing container based on new window size 
				4. 40px of padding-bottom on #container
			in favor of a standard footer bar relatively positioned below middleBand.
			
		ToDo:
			1. get search by competitors part number working. Remove metasearch and use simple SQL call in products#index:
			   @product = Product.where("sammons-part-no LIKE?", "%#{params[:search]}%")
			Would this avoid doing a database call on each load of the home page?
		
		Known Bugs:	
			1. metawhere/metasearch Metawhere not available in Rails 3.1.5. Replace with Squeel, or direct SQL 
			2. commented out call to netsuite lines 365ff because of soap4r library that was removed because it required an earlier version of Rails. 

		-->
		
		<meta name="google-site-verification"
		      content="DRniLxcdbLu-qb5STdNUxZI97IojXccx5-6mijdIhjI" />
		
	  	<title>TruMedical Solutions</title>
	
		<%= stylesheet_link_tag "application" %>
	  	<%= javascript_include_tag "application" %>
	
	  	<!-- <%# csrf_meta_tags %> This was commented out before. Why? -->
	  
	
		<!-- Comments from when js and css files were included here.  Retained to use in cleaning up these includes 
			custom_theme/jquery-ui-1.8.10.custom.css IS included, but was not present in /public/stylesheets
			ui-lightness/jquery-ui-1.8.18.custom.css was NOT included; but the ui-lightness directory was present
				in /public/stylesheets — and has been retained in assets/stylesheets here 
			however jquery-ui.1.8.10.custom.min.js was NOT included; 
			instead jquery-ui.1.8.18.custom.min.js was included
			
			jquery_tools_tabs_no_images.css was commented out; used by Mavic tabbed sibling nov; not used here 
			left_nav_popups_test.css was added by TA 1/4/2012: controls top alignment of popups for menu items  
			formtastic.css was modified directly rather than using a separate formtastic_changes.css. 
				There was just one change: to RADIO Overrides
			
			The following files were commented out in the header of layout/application/html.erb and have been deleted from /assets/stylesheets or /assets/javascripts. 
			Potential problem: they might have been included in headers of individual views although not in layouts/application.html.erb, and should therefor NOT have been deleted
				jquery_tools_tabs.css
				jquery-ui-1.8.10.custom.min.js
				jquery.tools.min.js
				
			javascript file ezMark.js needed on home page
			csrf_meta_tag was commented out. Why? I have reinstated it here. 	
			
		-->	

		<!-- replace the following line with a Rails image_tag: YES in Rails 3.1. Replace ALL image links with image_tags otherwise MD5 hash thingie won't work -->
		<!-- <#= link_to( image_tag("favicon.ico"), :rel => "shortcut icon") %> -->
		
		<link href="../assets/favicon.ico" rel="shortcut icon"> 
	
		<!-- for tool tips used to explain shipped-by and assembly-required icons -->
		<script type="text/javascript" >
			$(document).ready(function() {
				$(".withToolTip").tipTip(
					{maxWidth: "auto", defaultPosition: "top",delay: 400});	
				});
		</script>
		<style type="text/css">
			#tiptip_content { background-color: gainsboro; color:white; }
		</style>	
	
		<!-- avoid flash of unstyled content when browser paints popup overlays for top level categories and then closes them -->
		<script type="text/css">
			.popup_base { display:none;} /* or do I have to set visibility? */
		</script>
			
		<!-- styles for stuff in header -->
		
		<!-- styles for stuff in footer -->
		<style type="text/css">
			div#contactUs, div#privacyPolicy, div#requestCatelog { display:none; padding-bottom:40px; padding-top:20px; }
			div#contactUs h2, div#privacyPolicy h2, div#requestCatelog h2 { font-size:12px; font-weight:bold; margin-bottom:10px; margin-top:20px; }
			div#contactUs p, div#privacyPolicy p, div#requestCatelog p {font-size:11px; line-height:14px; margin-bottom:10px;}
			div#contactUs p { font-size:12px;} /* Bill wanted it larger */
			div#privacyPolicy dl { margin-left:11px; font-size:11px; line-height:13px;}
			div#privacyPolicy dt { font-weight:bold;}
			div#privacyPolicy dd { font-weight:normal; margin-left:10px;}
			div#catelogImage { border: 1px solid gray;}	
					
			/* ---- metasearch related ---------------------  */
			div#metasearch { display:inline; margin-right:20px;}	
			div#metasearch form { display:inline;}
			div#metasearch form label { color:white; display:inline;}	
			div#metasearch form input[type="text"] {
				display:inline;
				width:140px; 
				color:black;
				border:none!important;
				border-radius: 2px;
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px;
				}
			div#metasearch form input[type="submit"] {
					display:inline;
					font-size:10px!important;
					background-color: white!important;
					font-family: inherit;
					color: black;
					text-shadow: none!important; /* legal value? or just ignored? */
					border:none!important;
					border-radius: 2px;
					-moz-border-radius: 2px;
					-webkit-border-radius: 2px;
					width:20px;
				}
		</style>
		
		<!-- interim hack to allow manual closing of popup top level category windows -->
		<style type="text/css">
				div.subcategories img.close {position:absolute; top:0px; right:-10px; opacity:0.5; }
				div.leafCategories img.close {position:absolute; top:0px; right:-10px; opacity:0.5; }
				div.popup_base img.close {position:absolute; top:10px; right:10px; opacity:0.5; }		
		</style>
		
		<script type="text/javascript">

			$(document).ready(function(){
	
				$("div#contactUs").dialog( { autoOpen:false, modal:true, position:[360,60], width:610, minHeight:200, title:"Contact Us" });
				$("div#privacyPolicy").dialog( { autoOpen:false, modal:true, position:[360,60], width:610, minHeight:200, title: "Privacy Policy" });
				
				$("div#requestCatelog").dialog( { autoOpen:false, modal:true, position:[360,60], width:610, minHeight:200, title:"Request a Catelog" });
			
				$("a[href='#contactUs']").click(function(){
					$("div#contactUs").dialog('open');
					return false;
				});
				$("a[href='#privacyPolicy']").click(function(){
					$("div#privacyPolicy").dialog('open');
					return false;
				});
			
				$("a[href='#requestCatelog']").click(function(){
					$("div#requestCatelog").dialog('open');
					return false;
				});
			
				$("div#tabs").tabs(); /* initialize tabs within privacyPolicy. NOT WORKING?  */
				$("a[href='#AdminClinic']").click(function(){
					alert("As-yet-unimplemented link to Netsuite my-account.");
					return false;
				});
				
				$("a[href='#url']").click(function(){
					alert("As-yet-unimplemented link.");
					return false;
				});
				$("a[href='#Netsuite']").click(function(){
					alert("This link will take you to one of the pages implemented in Netsuite's secure server.");
					return false;
				});


			});
		</script>
		

		
		<!--  jQuery to support popup menu for product categories  -->
			<script type="text/javascript">

				$(document).ready(function(){


					$(".popup_base").hide();
					$("#black_screen").hide();

					$("#modalities").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_modalities").show();
						return false; /* combines stopPropagation() and preventDefault()  */
					},function(){});

					$("#clinicalSupplies").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_clinicalSupplies").show();
						return false;
					},function(){});
					$("#tables").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_tables").show();
						return false;
					},function(){});
					$("#fitness").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_fitness").show();
						return false;
					},function(){});
					$("#orthopedics").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_orthopedics").show();
						return false;
					},function(){});
					$("#taping").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_taping").show();
						return false;
					},function(){});
					$("#evaluation").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_evaluation").show();
						return false;
					},function(){});
					$("#dailyLiving").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_dailyLiving").show();
						return false;
					},function(){});
					$("#lymphedema").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_lymphedema").show(); 
						return false;
					},function(){});
					$("#woundCare").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_woundCare").show();
						return false;
					},function(){});
					/* the following four are used only on the home page */
					
					$("#trumedical").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_trumedical").show();
						return false;
					},function(){});

					$("#patients").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_patients").show();
						return false;
					},function(){});

					$("#providers").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_providers").show();
						return false;
					},function(){});

					$("#payors").hoverIntent(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").show();
						$("#popup_payors").show();
						return false;
					},function(){});
		
					$("img.close").click(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").hide();  
						return false;
					});
					
					$(".popup_base").mouseleave(function(){
						$(".popup_base:visible").hide();
						$("#black_screen").fadeOut(1000); 
						return false;
					});
				
				});
			</script>

			<script type ="text/javascript">
				$(document).ready(function(){
					/* If mouseover a subcategory block within one of the popup windows, 
					the background of the entire block turns orange. 
					But because top 80px of 120x120 block is covered by 120x80px image, it looks
					like it is just the bottom 40px that turns orange.  
					*/
					$(".subcategory").mouseenter(function(){
						$(this).css("background-color","orange");
					});
					$(".subcategory").mouseleave(function(){
						$(this).css("background-color","#E6E6E6");
					});
					/* If click anywhere on this subcategory div, link to subcategory landing page. 
						How get correct subcategory? 
						Currently using an href within the subcategory div, using Rails to insert the target url. 
						Is there an entirely Rails answer — using a link_to(content_tag ... ? 
					*/
					/*
					$(".subcategory").click(function(){
							window.location.href="http://localhost:3000/categories/2" 
							return false;
					});
					*/

				});

			</script>
		
		<!-- for Google analytics —————————————————— -->

		
		<%= yield :header %>

	
	</head>
	<body id="body">
		<div id="container" class="home" >

			<div id="black_screen"></div>

			<!-- header links  ————————————————————————————————————————————————————————— -->
			<div id="header">
				<div id="register_login">
					<ul>
					
						<% if user_signed_in? %>
							
							<li>
								<span style="color:orange";>Signed in as <%= current_user.email %>.&nbsp;&nbsp; </span>
								<%= link_to "Sign out", destroy_user_session_path %>
							</li>
							
							<li>
								<%= link_to "My Account", edit_user_registration_path %>
							</li>
							
							<% if current_user.role == "Administrator" %>				
								<li>
									<%= link_to "Administer Clinic", edit_clinic_path(current_user.clinic.id) %>
									<!--<a href="https://checkout.netsuite.com/app/center/nlvisitor.nl/c.1114349/sc.6/.f">Administer</a> -->
								</li>
							<% end %>
						<% else %>
							<li>
								<%= link_to "Register", new_user_registration_path %> or <%= link_to "Sign in",  new_user_session_path %>
							</li>		
						<% end %>
						<% if current_user!=nil %>				
							<li><a id="lnkcart" href=""> View Cart</a></li>
							<li><a id="lnkcheckout" href="">Checkout</a></li>
							<!-- DEBUG: REMOVE FOR MIGRATION TO Rails 3.1.5: getting soap error -->
							<!--
							<script language="javascript">
									var mainurl = "https://checkout.netsuite.com/s.nl/c.1114349/sc.4/.f?user=<#= current_user.email %>&pwd=<#= current_user.plain_text_password %>"; //"https://checkout.netsuite.com/s.nl?c=1114349&sc=4&login=T&reset=T&whence=&redirect_count=1&did_javascript_redirect=T&user="+"<#=  current_user.email %>&pwd=<#= current_user.plain_text_password %>";
									var urlcart = "http://shopping.netsuite.com/s.nl/c.1114349/sc.3/.f";
									var urlcheckout = mainurl + "&nextpage=checkout";
										$("#lnkcart").attr('href',urlcart);
										$("#lnkcheckout").attr('href',urlcheckout);
							</script>
							-->
						<% end %>
					</ul>
				</div>
				
				<!-- call, toll free  ———————————————————————————————————————————————————— -->
				<div id="callTollFree">
					<p>Questions? Call us, toll free, at <strong>877-882-7844</strong>&nbsp;</p>
				</div>
						
			</div> <!-- end of div 'header' -->
			
			<div id="middleBand">
				
				<!-- place on individual page templates instead ( don't want it on home page ) 
				<div id="logo">
					<#= image_tag("logos/logo_on_white_315.png") %>
				</div>
				--> 
					
				<!-- divs for popup dialogs     ———————————————————————————————————— -->		
				<%= render(:partial => '/shared/popup_footer_dialogs') %>
				
			
				<!-- divs within middleBand unique to particular page templates ———— -->		
				<%= yield :middleBand %>
				
			</div> <!-- end div 'middleBand' -->
  
			<!-- footer     ————————————————————————————————————————————————————————————— -->
		
			<div id="footer" >

				<div id="footer_left"> <!-- div used only to center contents within footer -->
					<a href="#requestCatelog">Request a Catalog</a> 
				
					<!-- search by competitor part no ——————————————————————————————— -->
					<!-- commented out because when used with devise register/login users/registration gets an error
						when it attempts to generate a link to { :controller => 'devise/products', :action => 'search' } 
						rather than { :controller => 'products', :action => 'search'} 
						Now (Aug 2012) commented out because metawhere is incompatible with Rails 3.1.x.  
						Replace with Squeel. 
					-->
					<!--
					<#= render :partial => '/shared/metasearch' %>
					-->

					<a href="#contactUs">Contact Us</a> 
					<a href="#privacyPolicy">Privacy Policy</a> 
					<!-- <a href="#">FAQs</a> -->
				
					<span style="color:white;">Find us on:&nbsp;&nbsp;</span> 
					<%= link_to(image_tag('footer/facebook.png', :size => '16x16', :alt => 'Facebook link'),"http://www.facebook.com/trumedical", :target => "_blank") %>
					<%= link_to(image_tag('footer/twitter.png', :size => '16x16', :alt => 'Twitter link'),"http://www.twitter.com/trumedical", :target => "_blank") %>
					<!-- attempt to get the word 'Twitter' into the link; failing
					<#= link_to "#{image_tag('footer/twitter.png', :size => '16x16', :alt => 'Twitter link')} Twitter","http://www.twitter.com/trumedical", :target => "_blank" %>
					-->
					

				</div>	
			
			</div> <!-- end div 'footer' -->
		
		</end> <!-- end div 'container -->	
		
		<%= yield :js_before_close_of_body %> 
		
	</body>
</html>

